.user-info
    .user-info-panel
        .user-info-title
            label 基本信息
            button(type='button').btn-edit
                i.iconfont.icon-edit
        form(name='basic' id='basic').form-static
            .form-group
                label.form-label.required 用户名
                .form-control.user-info-item
                    span.static= userInfo.username
                    input(type='text' name='username' value=`${userInfo.username || ''}` required).editor
            .form-group
                label.form-label.required 昵称
                .form-control.user-info-item
                    span.static= userInfo.name
                    input(type='text' name='name' value=`${userInfo.name || ''}` required).editor
            .form-group
                label.form-label.required 手机号码
                .form-control.user-info-item
                    span.static= userInfo.phone
                    input(type='text' name='phone' value=`${userInfo.phone || ''}`).editor
            .form-group
                label.form-label.required 邮箱
                .form-control.user-info-item
                    span.static= userInfo.email
                    input(type='text' name='email' value=`${userInfo.email || ''}` required).editor
            .form-group
                label.form-label 地区
                .form-control.user-info-item
                    span.static= userInfo.region
                    select(name='parentRegionId').editor
                        option(value=0) 请选择
                        each item in parentRegionList
                            - const parentSelected = item.id === userInfo.parentRegionId
                            option(value=`${item.id}` selected=parentSelected)= item.name
                    - const disabled = !userInfo.parentRegionId
                    select(name='regionId' disabled=disabled).editor
                        each item in regionList
                            - const selected = item.id === userInfo.regionId
                            option(value=`${item.id}` selected=selected)= item.name
            .form-group.form-btns
                button(type='submit').btn.btn-primary.btn-submit 保存
                button(type='reset').btn.btn-default.btn-cancel 取消
            
    .user-info-panel
        .user-info-title
            label 当前状态
            button(type='button').btn-edit
                i.iconfont.icon-edit
        form(name='currentState' id='currentState').form-static
            .form-group
                label.form-label.required 职业
                .form-control.user-info-item
                    span.static= userInfo.profession
                    - const professionType = userInfo.professionType || '1'
                    .radio-group.editor
                        each name, value in profession
                            - const checked = value == professionType
                            label(class=`${checked ? 'checked' : ''}`)
                                input(type='radio' name='professionType' value=`${value}` checked=checked)
                                | #{name}
            #profession_1
                .form-group.schoolName
                    label.form-label.required 在读院校
                    .form-control.user-info-item
                        span.static= userInfo.schoolName
                        input(type='text' name='schoolName' autocomplete='off' value=`${userInfo.schoolName || ''}` required).editor
                        ul.school-list
                .form-group.major
                    label.form-label.required 专业
                    .form-control.user-info-item
                        span.static= userInfo.major
                        input(type='text' name='major' value=`${userInfo.major || ''}` required).editor
                .form-group.educationType
                    label.form-label.required 学历
                    .form-control.user-info-item
                        span.static= userInfo.education
                        select(name='educationType').editor
                            each name, value in education
                                - const selected = value == userInfo.educationType
                                option(value=`${value}` selected=selected)= name
                .form-group.graduationDate
                    label.form-label.required 毕业时间
                    .form-control.user-info-item
                        span.static= userInfo.graduationDate
                        input(type='text' name='graduationDate' autocomplete='off' value=`${userInfo.graduationDate || ''}` required).editor.datePicker
            #profession_2
                .form-group.companyName
                    label.form-label.required 企业名称
                    .form-control.user-info-item
                        span.static= userInfo.companyName
                        input(type='text' name='companyName' value=`${userInfo.companyName || ''}` required).editor
                .form-group.position
                    label.form-label.required 职位
                    .form-control.user-info-item
                        span.static= userInfo.position
                        input(type='text' name='position' value=`${userInfo.position || ''}` required).editor
            #profession_3
                .form-group.positionDesc
                    label.form-label.required 职业描述
                    .form-control.user-info-item
                        span.static= userInfo.positionDesc
                        textarea(type='text' name='positionDesc' rows="5" value=`${userInfo.positionDesc || ''}` required).editor
            #profession_0
                .form-group.positionDesc
                    label.form-label 职业描述
                    .form-control.user-info-item
                        span.static= userInfo.positionDesc
                        textarea(type='text' name='positionDesc' rows="5" value=`${userInfo.positionDesc || ''}`).editor
            #profession_more
                .form-group.schoolName
                    label.form-label 毕业院校
                    .form-control.user-info-item
                        span.static= userInfo.schoolName
                        input(type='text' name='schoolName' autocomplete='off' value=`${userInfo.schoolName || ''}`).editor
                        ul.school-list
                .form-group.major
                    label.form-label 专业
                    .form-control.user-info-item
                        span.static= userInfo.major
                        input(type='text' name='major' value=`${userInfo.major || ''}`).editor
                .form-group.educationType
                    label.form-label 学历
                    .form-control.user-info-item
                        span.static= userInfo.education
                        select(name='educationType').editor
                            each name, value in education
                                - const selected = value == userInfo.educationType
                                option(value=`${value}` selected=selected)= name
                .form-group.graduationDate
                    label.form-label 毕业时间
                    .form-control.user-info-item
                        span.static= userInfo.graduationDate
                        input(type='text' name='graduationDate' autocomplete='off' value=`${userInfo.graduationDate || ''}`).editor.datePicker
            .form-group.form-btns
                button(type='submit').btn.btn-primary.btn-submit 保存
                button(type='reset').btn.btn-default.btn-cancel 取消
            
    .user-info-panel
        .user-info-title
            label 设置安全
            button(type='button').btn-edit
                i.iconfont.icon-edit
        form(name='updatePassword' id='updatePassword').form-password
            .form-group
                label.form-label.required 原密码
                .form-control
                    input(type='password' autocomplete='off' name='oldpassword' id='oldpassword' value='' required)
            .form-group
                label.form-label.required 新密码
                .form-control
                    input(type='password' autocomplete='off' name='password' id='password' value='' required)
            .form-group
                label.form-label.required 确认密码
                .form-control
                    input(type='password' autocomplete='off' name='password_again' id='password_again' value='' required)
            .form-group.form-btns
                button(type='submit').btn.btn-primary.btn-submit 保存
                button(type='reset').btn.btn-default.btn-cancel 取消
